@use '../abstracts/variables';

.footer-nav {
    width: 100%;
    background-color: variables.$main-color;
    margin-bottom: 1rem;
    padding: 1.5rem 1rem;
}

.footer-nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px 15px 20px;
}

@media (max-width: 768px) {
    .footer-nav ul {
        flex-direction: column;
        align-items: center;

        li {
            padding: 0.5rem;
        }
    }
}

.footer a {
    color: variables.$main-text-color;
}

.footer {
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.redes {
    display: flex;
    padding: 10px 0;
    width: 30%;
    justify-content: space-between;
}

.footer-nav img {
    height: 35px;
    width: 35px;
    background-color: variables.$main-text-color;
    border-radius: 100%;
}

.redes img {
    background-color: variables.$main-text-color;
    padding: 0.25rem;
    border-radius: 30%;
    width: 35px;
    height: auto;
    transition: 1.2s;
}

.redes img:hover {
    transition: 0.6s;
    height: auto;
    transform: scale(1.2) ;
}

.logo-wpp img {
    height: 70px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: 0.8s;

    &:hover{
        transform: scale(1.2);
    }
}

.boton-arriba img {
    height: 70px;
    position: fixed;
    left: 30px;
    bottom: 30px;
    transition: 0.8s;

    &:hover {
        transform: scale(1.2);
    }
}
