@use '../abstracts/variables';


.footer {
    background-color: variables.$main-color-alternative;
}

.footer-nav {
    width: 100%;
    background-color: variables.$main-color;
    margin-bottom: 1rem;
    padding: 1.5rem 1rem;
}

.navegacion__footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    
    width: 100%;
    padding: 10px 20px 15px 20px;

    @media (min-width: 1200px) {
            width: 1200px;
            justify-self: center;
        }
    
    @media (min-width: 768px) {

        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        li {
            padding: 0.5rem;
        }
    }
}

.footer a {
    color: variables.$main-text-color;
}

.contenedor-footer {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    @media (min-width: 1200px) {
        width: 1200px;
        justify-self: center;
    }
}

.redes {
    display: flex;
    padding: 10px 0;
    width: 30%;
    justify-content: space-between;
}

.navegacion__footer li:hover img{
    transition: border 1.2s 0.2s;
    border: solid variables.$grisclaro 2px;
}

.footer-nav img {
    height: 35px;
    width: 35px;
    background-color: variables.$main-text-color;
    border-radius: 100%;
    border: solid variables.$main-color-alternative 2px;
    transition: border 0.8s 0.2s;
}

.redes img {
    background-color: variables.$main-text-color;
    padding: 0.25rem;
    border-radius: 30%;
    width: 35px;
    height: auto;
    transition: 1.2s;
}

.redes img:hover {
    transition: 0.6s;
    height: auto;
    transform: scale(1.2) ;
}

.logo-wpp img {
    z-index: 3;
    height: 10vh;
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: 0.8s;

    &:hover{
        transform: scale(1.2);
    }
}

.boton-arriba img {
    z-index: 3;
    height: 10vh;
    position: fixed;
    left: 30px;
    bottom: 30px;
    transition: 0.8s;

    &:hover {
        transform: scale(1.2);
    }
}
