@use '../abstracts/variables';


.footer {
    background-color: variables.$main-color-alternative;
}

.footer-nav {
    width: 100%;
    background-color: variables.$main-color;
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem;
}

.navegacion__footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    padding-top: 1rem;

    li {
            padding: 0.5rem;
        }

    @media (min-width: 1200px) {
            width: 1200px;
            justify-self: center;
        }
    
    @media (min-width: 768px) {

        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.footer a {
    color: variables.$main-text-color;
    font-size: 1.4rem;

    @media (min-width: 768px) {
        font-size: 1.2rem;
    }
}

.contenedor-footer {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    @media (min-width: 1200px) {
        width: 1200px;
        justify-self: center;
    }
}

.redes {
    display: flex;
    padding: 0.5rem 5rem;
    width: 100%;
    justify-content: space-between;

    a {
        padding: 1rem;
    }

    @media (min-width: 768px) {
        padding: 0.5rem 15rem;
    }
}

.navegacion__footer li:hover img{
    transition: border 1.2s 0.2s;
    border: solid variables.$grisclaro 2px;
}

.footer-nav img {
    
    width: 7vw;
    max-width: 50px;
    background-color: variables.$main-text-color;
    border-radius: 100%;
    border: solid variables.$main-color-alternative 2px;
    transition: border 0.8s 0.2s;
}

.redes img {
    background-color: variables.$main-text-color;
    padding: 0;
    border-radius: 20%;
    width: 90%;
    max-width: 45px;
    min-width: 30px;
    height: auto;
    transition: 1.2s;
}

.redes img:hover {
    transition: 0.6s;
    height: auto;
    transform: scale(1.2) ;
}

.logo-wpp img {
    z-index: 3;
    height: 10vw;
    max-height: 90px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: 0.8s;

    &:hover{
        transform: scale(1.2);
    }
    
}

.boton-arriba img {
    z-index: 3;
    height: 10vw;
    max-height: 90px;
    position: fixed;
    left: 30px;
    bottom: 30px;
    transition: 0.8s;

    &:hover {
        transform: scale(1.2);
    }
}
