@use '../abstracts/variables';

ul {
    list-style: none;
}

.header {
    width: 100%;
    height: 130px;
    background-color: variables.$grisclaro;
    display: flex;
    justify-content: space-around;
    position: fixed;
}

.contenedor-header {
    position: fixed;
    z-index: 3;
    display: flex;
    flex-flow: column wrap;
    background-color: variables.$grisclaro;
    width: 100%;
}

.logo {
    width: 100px;
}

.navbar-brand.active {
    .titulo {
        font-size: 1.7rem;
        color: variables.$negro;
        font-weight: 700;
    }
}

.titulo {
    color: variables.$main-color;
    padding-left: 1rem;
    transition: 0.7s 0.1s ease-out;

    &:hover {
        transform: scale(1.1);
    }
}

.titulo--bold {
    font-weight: bolder;
}

.nav-derecha {

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    @media (min-width: 992px) {
        align-items: end;
    }
}

.boton-busqueda {
    color: variables.$negro;
    border: variables.$main-color;
    background-color: variables.$main-text-light;
    margin-right: 10px;
}

.boton-busqueda:hover {
    background-color: variables.$main-color;
    cursor: pointer;
}

.boton-busqueda svg {
    width: 35px;
    height: 35px;
}

.login {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: end;
    position: relative;
    transition: 1s;
    margin-right: 1rem;
}

.login a {
    margin-right: 10px;
    display: flex;
    align-items: center;
    color: variables.$grisclaro;
    transition: 1s;
    position: relative;
    margin-right: 3rem;
}

.login a:hover {
    transition: 1s;
    position: relative;
    margin-right: 0.3rem;
    color: variables.$main-color;
    position: relative;
    margin-left: 4.5rem;
}

.login svg {
    margin-left: 10px;
    position: relative;
    width: 40px;
    height: 40px;
    color: variables.$main-color;
}

nav {
    background-color: variables.$main-text-light;
}

.navbar {
    @media (min-width: 1200px) {
        width: 1200px;
        align-self: center;
    }
}

.contenedor-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px 30px;

    @media (max-width: 768px) {
        flex-flow: column nowrap;

        li {
            padding: 0.5rem;
        }
    }
}

.contenedor-nav li {
    display: flex;
    justify-content: center;
    margin: 0 1rem;
}

.contenedor-nav a {
    text-decoration: none;
    color: variables.$main-color;
    font-weight: 700;
    font-size: 1rem;

    &:hover{
        color: variables.$negro;
    }

    &:hover::after{
        background: variables.$main-color;
    }
}

#active {
    color: variables.$negro;
    transform: scale(1.1);
}

#active::after {
    opacity: 1;
    transform: scale(1);
    background: variables.$main-color;
}