
    $negro: #000;
    $blanco: #FFF;
    $grisclaro: #EAEAFF;
    $main-color: #532B88;
    $main-color-secondary: #F4EFFA;
    $main-color-alternative: #2F184B;
    $main-text-color: #C8B1E4;
    $main-text-light: #9B72CF;
    $main-font: "Roboto", sans-serif;
