/** GLOBALES **/

/*Reset*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding :0;
}

:root {
    --negro: #000;
    --blanco: #FFF;
    --grisclaro: #EAEAFF;
    --main-color: #532B88;
    --main-color-secondary: #F4EFFA;
    --main-color-alternative: #2F184B;
    --main-text-color: #C8B1E4;
    --main-text-light: #9B72CF;
    --main-font: "Roboto",sans-serif;
}

/* GLOBALES */

html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--main-color-alternative);
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-size: 62.5%;
}

h3 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 700;
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

/** LAYOUT **/

/*Header*/

ul {
    list-style: none;
}

.contenedor-header{
    position: fixed;
    z-index: 3;
    display: flex;
    flex-flow: column wrap;
    background-color: var(--main-color-alternative);
    width: 100%;
}

.contenedor-banner {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--negro);
    /* background-image: url('../img/banner.webp');
    background-size: cover; */
}

.banner-izquierda {
    display: flex;
    height: 100%;
    width: 60%;
}

.logo {
    width: 150px;
    min-width: 150px;
}

.titulo {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-left: 30px;
}

.navbar-brand {
    color: var(--main-color);
    font-size: 1.5rem;
}

.brand-bold {
    font-weight: bolder;
}

.banner-derecha {
    height: 100%;
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: space-around;
}

.buscador {
    height: 70%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.buscador input {
    padding: 10px;
    height: 40px;
    border: solid;
    border-radius: 10px;
    margin: 10px;
}

.boton-busqueda {
    color: var(--negro);
    border: var(--main-color);
    background-color: var(--main-text-light);
    margin-right: 10px;
}

.boton-busqueda:hover {
    background-color: var(--main-color);
    cursor: pointer;
}

.boton-busqueda svg {
    width: 35px;
    height: 35px;
}

.login {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: end;
}

.login a{
    margin-right: 10px;
    display: flex;
    align-items: center;
    color: var(--grisclaro);
    transition: 1s;
    position: relative;
        margin-right: 3rem;
}

.login a:hover{
    transition: 1s;
    position: relative;
    margin-right: 0.3rem;
    color: var(--main-color);
}

.login svg {
    margin-left: 10px;
    position: relative;
    width: 40px;
    height: 40px;
    color: var(--main-color);
}

nav {
    background-color: var(--main-text-light);
}

.contenedor-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px 30px;
}

.contenedor-nav li {
    display: flex;
    justify-content: center;
    margin: 0 1rem;

    a {
        padding: 10px 20px;
        border-bottom: 0;
        transition: 1s;
    }
    a:hover {
        border-bottom: solid 1px;
        color: var(--main-text-light);
        transition: 0.4s;
    }
}

.contenedor-nav a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 700;
    font-size: 1rem;
}

@media (max-width: 992px) {
    .contenedor-nav {
            flex-flow: column nowrap;
    }

    .nav-derecha {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .login {
        position: relative;
        margin-right: 3rem;
        transition: 1s;
    }
    .login:hover {
        position: relative;
        margin-left: 4.5rem;
        transition: 1s;
    }
}

/* Main */

.main {
    background-color: var(--main-color);
}

.contenedor-section{
    background-color: black ;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 150px;
}

.contenedor-section article{
    width: 30%;
    min-width: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    p{
        text-align: center;
        padding: 20px 0;
    }

    img{
        width: 100%;
    }
}

/* Footer */

.footer-nav{
    width: 100%;
    background-color: var(--main-color);
    margin-bottom: 1rem;
    padding: 1.5rem 0;
}

.footer-nav ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px 15px 20px;
    a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--main-text-color);
            transition: 0.6s;
        }
    a:hover {
        border-bottom: var(--grisclaro) solid 1px;
        color: var(--grisclaro);
        transition: 0.6s;
    }

}

.footer a {
    color: var(--main-text-color);
}

.footer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.redes{
    display: flex;
    padding: 10px 0;
    width: 30%;
    justify-content: space-between;
}

.link-arriba {
    margin-bottom: 1rem;
}

.link-arriba:hover{
    border-bottom: var(--main-text-color) solid 1px;
}

.footer-nav img{
    height: 35px;
    width: 35px;
    background-color: var(--main-text-color);
    border-radius: 100%;
}

.redes img {
    background-color: var(--main-text-color);
    padding: 0.25rem;
    border-radius: 30%;
    width: 35px;
    height: auto;
    transition: 1.2s;
}

.redes img:hover {
    transition: 0.6s;
    height: auto;
    width: 39px;
}

.logo-wpp img{
   height: 70px;
   position: fixed;
   right: 30px;
   bottom: 30px;
   transition: 0.8s;
}

.logo-wpp img:hover {
    height: 80px;
    transition: 0.6s;
}

.boton-arriba img{
    height: 70px;
    position: fixed;
    left: 30px;
    bottom: 30px;
    transition: 0.8s;
}

.boton-arriba img:hover {
    height: 80px;
    transition: 0.6s;
}

/** COMPONENTS **/
.boton {
    border-radius: 50% ;
}

/** PAGES **/

/* Nosotros */


.contenedor-body{
    display: flex;
    flex-flow: column wrap;
}

.lista-nosotros a{
    color: var(--negro);
}

.nosotros-contenedor-main{
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nosotros-contenedor-main img{
    height: 150px;
}

.nosotros-contenedor-portada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-video {
    display: flex;
    align-items: center;
}

.video-institucional {
    box-shadow: 0px 10px 10px 10px var(--negro);
    min-width: 70vw;
    min-height: 40vh;
}

@media (max-width: 768px){

    .video-institucional {
            min-width: 70vw;
            min-height: 40vh;
        }
}

/* .nosotros-contenedor-portada-lista{
    padding: 20px;
    border: solid;
    height: 70vh;
    width: 90%;
    background-color: var(--main-color-secondary);
    background-image: url(../img/mapa.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-areas:
    "empresa conector1 historia    conector2 fundacion"
    "empresa conector1 historia    conector2 hitos"
    "empresa conector1 equipo      conector3 liderazgo"
    "empresa conector1 equipo      conector3 departamentos"
    "empresa conector1 mision      .         ."
    "empresa conector1 testimonios .         .";
    grid-template-columns: 30% auto 15% auto 30%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.a-empresa{
    grid-area: empresa;
    align-self: center;
}

.a-historia {
    grid-area: historia;

}


.a-fundacion {
    grid-area: fundacion;

}

.a-hitos {
    grid-area: hitos;

}

.a-equipo {
    grid-area: equipo;

}

.a-liderazgo {
    grid-area: liderazgo;

}

.a-departamentos {
    grid-area: departamentos;

}

.a-mision {
    grid-area: mision;

}

.a-testimonios {
    grid-area: testimonios;

} */

.nosotros-contenedor-contenido{
    padding: 10px;
}

.nosotros-articulo-contenido {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
}

.nosotros-articulo-contenido img {
    align-self: center;
    width: 65%;
    height: auto;
}

.contenedor-testimonio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonios-title {
    padding-bottom: 30px;
}

.tarjeta-testimonio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border-radius: 10px;
    border: solid black 2px;
    background-color: var(--negro);
    padding: 10px 15px 10px 15px ;
}

.autor-testimonio {
    font-weight: 400;
    font-style: italic;
}

.contenedor-testimonio .autor-testimonio {
    font-weight: 100;
}

.contenedor-testimonio img {
    position: relative;
    top: -20px;
    width: 25vw;
}

/* Servicios */

.servicios-main__icono img{
    height: 25px;
    width: 25px;
}

/* Bootstrap */

#navbarSupportedContent {
    justify-content: space-around;
}

.navbar {
    background-color: var(--grisclaro) !important;
}

.navbar-nav {
    justify-content: space-between;
}

    .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

#active{
    color: var(--negro);
    font-size: 1.1rem;
    font-weight: 900;
}

.accordion-button:not(.collapsed) {
    z-index: 1;
    color: var(--blanco);
    font-weight: 600;
    background-color: var(--main-text-light);
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--main-color-alternative);
}

.accordion-button {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    font-weight: 400;
    color: var(--negro);
    text-align: left;
    background-color: var(--main-text-color);
}

.accordion-button:focus{
    z-index: 2;
    box-shadow: var(--negro);
}

