/** GLOBALES **/

/*Reset*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding :0;
}

:root {
    --negro: #000;
    --blanco: #FFF;
    --main-color: #81F;
    --main-color-secondary: #FFD8BE;
    --main-color-alternative: #F7F5F3;
    --main-text-color: #0F0F00;
    --main-text-light: #B8B8FF;
    --main-font: "Roboto",sans-serif;
}
 

body {
    background-color: var(--main-color-alternative);
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-size: 62.5%;
}

h3 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 700;
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

/** LAYOUT **/

/*Header*/

ul {
    list-style: none;
}

.contenedor-header{
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    background-color: var(--main-color-alternative);
    width: 100%;
}

.contenedor-banner {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--negro);
    /* background-image: url('../img/banner.webp');
    background-size: cover; */
}

.banner-izquierda {
    display: flex;
    height: 100%;
    width: 60%;
}

.logo {
    width: 150px;
    min-width: 150px;
}

.titulo {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-left: 30px;
}

.banner-derecha {
    height: 100%;
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: space-around;
}

.buscador {
    height: 70%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.buscador input {
    padding: 10px;
    height: 40px;
    border: solid;
    border-radius: 10px;
    margin: 10px;
}

.boton-busqueda {
    border-radius: 100%;
    background-color: var(--main-text-light);
    margin-right: 10px;
}

.boton-busqueda:hover {
    background-color: var(--main-color);
    cursor: pointer;
}

.boton-busqueda svg {
    width: 35px;
    height: 35px;
}

.login {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: end;
}

.login a{
    margin-right: 10px;
    display: flex;
    align-items: center;
    color: var(--main-color-alternative);
}

.login a:hover{
    color: var(--main-color);
}

.login svg {
    margin-left: 10px;
    position: relative;
    width: 40px;
    height: 40px;
    color: var(--main-color);
}

nav {
    padding: 10px;
    background-color: var(--main-text-light);
}

.contenedor-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px 50px;
}

.contenedor-nav li {
    display: flex;
    justify-content: center;
    margin: 0 20px;
    min-width: 50px;

    a {
        padding: 10px 20px;
    }
    a:hover {
        border-bottom: var(--main-color) solid 1px;
    }
}


/* Main */

.contenedor-section{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 300px;
}

.contenedor-section article{
    width: 30%;
    min-width: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    p{
        text-align: center;
        padding: 20px 0;
    }

    img{
        width: 100%;
    }
}

/* Footer */

.footer-nav{
    width: 100%;
    margin: 10px 30px;
}

.footer-nav ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px 15px 20px;  
    a {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    a:hover {
        border-bottom: var(--main-color) solid 1px;
    }

}


.footer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.redes{
    display: flex;
    padding: 10px 0;
    width: 30%;
    justify-content: space-between;
}

.link-arriba:hover{
    border-bottom: var(--main-color) solid 1px;
}

.footer-nav img{
    height: 35px;
    width: 35px;
}

.redes img {
    width: 25px;
    height: 25px;
}

.logo-wpp img{
   height: 70px;
   position: fixed;
   right: 30px;
   bottom: 30px;
}

/** COMPONENTS **/
.boton {
    border-radius: 50% ;
}

/** PAGES **/

/* Nosotros */


.contenedor-body{
    display: flex;
    flex-flow: column wrap;
}

.lista-nosotros a{
    color: var(--negro);
}

.nosotros-contenedor-main{
    margin-top: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nosotros-contenedor-main img{
    height: 150px;
}

.nosotros-contenedor-portada{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nosotros-contenedor-portada-lista{
    padding: 20px;
    border: solid;
    height: 70vh;
    width: 90%;
    background-image: url(../img/mapa.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-areas: 
    "empresa conector1 historia    conector2 fundacion"
    "empresa conector1 historia    conector2 hitos"
    "empresa conector1 equipo      conector3 liderazgo"
    "empresa conector1 equipo      conector3 departamentos"
    "empresa conector1 mision      .         ."
    "empresa conector1 testimonios .         .";
    grid-template-columns: 30% auto 15% auto 30%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.a-empresa{
    grid-area: empresa;
    align-self: center;
    justify-self: end;
}

.a-historia {
    grid-area: historia;
    align-self: center;
    justify-self: center;
}


.a-fundacion {
    grid-area: fundacion;
    align-self: center;
}

.a-hitos {
    grid-area: hitos;
    align-self: center;
}

.a-equipo {
    grid-area: equipo;
    align-self: center;
}

.a-liderazgo {
    grid-area: liderazgo;
    align-self: center;
}

.a-departamentos {
    grid-area: departamentos;
    align-self: center;
}

.a-mision {
    grid-area: mision;
    align-self: center;
}

.a-testimonios {
    grid-area: testimonios;
    align-self: center;
}

.nosotros-contenedor-contenido{
    display: flex;
}

/* Servicios */

.servicios-main__icono img{
    height: 25px;
    width: 25px;
}