@use '../abstracts/variables';

.cursos-main {
    background-color: variables.$negro;
    padding: 20px;
}

.cursos__titulo--principal {
    padding: 20rem 0 22rem 0;
    background-image: url(../../../img/banner.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    position: relative;
}

.screen-black {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-around;
    z-index: 1;
    

    h2 {
        color: variables.$blanco;
        font-size: 3rem;
        align-self: center;
        z-index: 5;
    }
}

.cursos__titulo {
    padding: 2rem;
}

.cursos-contenedor-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.cursos-contenedor-article:nth-child(even) {
    background-color: variables.$main-color-alternative;
}

.cursos-article {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: variables.$main-color-alternative;
}

.cursos-article2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.cursos-article-grafico {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cursos-article-grafico img {
    max-width: 80%;
    align-self: center;
}

.cursos-article-texto {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    max-width: 40vw;

}

.cursos-boton-inscribirse {
    color: variables.$negro;
    border: variables.$main-color;
    background-color: variables.$main-text-light;
    margin-right: 10px;
}

.cursos-boton-inscribirse:hover {
    background-color: variables.$main-text-color;
    cursor: pointer;
}


@media (max-width: 992px) {
    .cursos-article {
        flex-direction: column;
    }

    .cursos-article2 {
        flex-direction: column;
    }

    .cursos-article-texto {
        max-width: 90%;
    }

}