@use '../abstracts/variables';

.cursos-main {
    background-color: variables.$negro;
}

.cursos-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.cursos__titulo--principal {
    margin-top: 50px;
    background-image: url(../../../img/banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    width: 100%;
    height: 90vh;
    position: relative;
    overflow-x: hidden;

    @media (min-width:1200px) {
        width: 1200px;
        height: 600px;
    }
}

.cursos__screen-black {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    align-self: center;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-around;
    z-index: 1;
    

    h2 {
        color: variables.$blanco;
        font-size: 3rem;
        align-self: center;
        z-index: 5;
    }
}

.cursos__titulo {
    padding: 2rem;
}

.cursos-contenedor-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.cursos-contenedor-article:nth-child(even) {
    background-color: variables.$main-color-alternative;
}

.cursos-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$main-color-alternative;
}

.cursos-article2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cursos-article-grafico {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cursos-article-grafico img {
    max-width: 80%;
    align-self: center;
}

.cursos-article-texto {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 90%;

}

.cursos-boton-inscribirse {
    border: variables.$main-color;
    background-color: variables.$main-text-color;
    margin-right: 10px;

    a {
        color: variables.$main-color-alternative;
    }
}

.cursos-boton-inscribirse:hover {
    background-color: variables.$grisclaro;
    cursor: pointer;
}


@media (min-width: 992px) {
    .cursos-article {
        flex-direction: row;
    }

    .cursos-article2 {
        flex-direction: row-reverse;
    }

}