@use '../abstracts/variables';

.servicios-titulo {
    align-self: center;
    justify-self: center;
}

.servicios-contenedor-article {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}

.servicios__titulo--principal {
    margin-top: 50px;
    background-image: url(../../../img/img_1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: 90vh;
    position: relative;
    overflow-x: hidden;

    @media (min-width:1200px) {
        width: 1200px;
        height: 600px;
    }
}

.servicios__screen-black {
    background-color: rgba(255, 200, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-around;
    z-index: 1;


    h2 {
        color: variables.$negro;
        font-size: 3rem;
        align-self: center;
        z-index: 5;
    }
}

.servicios-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    overflow-x: hidden;
    background-color: variables.$main-color-alternative;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* .servicios-article-titulo {
    justify-content: center;
} */

.servicios-article-icono {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    text-align: center;

    h3 {
        font-weight: bold;
    }

    img {
        width: 30%;
        min-width: 100px;
        padding: 1rem;
        filter: invert(1);
    }

    p {
        padding: 0;
        width: 100%;
    }

    @media (min-width: 768px) {
            text-align: justify;
            max-width: 50%;
    }
}

.servicios-article:nth-child(2) {
    color: variables.$main-color-alternative;
    background-color: variables.$blanco;

    img {
        filter: invert(0);
    }

    @media (min-width: 768px) {
        flex-direction: row-reverse;
    }
}

.servicios-article-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.servicios-article-imagen img {
    max-height: 30vh;
    min-width: 90vw;
    object-fit: cover;

    @media (min-width: 768px) {
        max-height: none;
        min-height: 40vh;
        max-width: 90%;
        min-width: auto;
    }
}