@use '../abstracts/variables';

.servicios-titulo {
    align-self: center;
    justify-self: center;
}

.servicios-contenedor-article {
    padding-top: 150px;
    display: flex;
    flex-direction: column;

}

.servicios__titulo--principal {
    padding: 20rem 0 22rem 0;
    background-image: url(../../../img/img_1.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.servicios__screen-black {
    background-color: rgba(255, 200, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-around;
    z-index: 1;


    h2 {
        color: variables.$negro;
        font-size: 3rem;
        align-self: center;
        z-index: 5;
    }
}

.servicios-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    overflow-x: hidden;
}

/* .servicios-article-titulo {
    justify-content: center;
} */

.servicios-article-icono {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    text-align: justify;

    h3 {
        font-weight: bold;
    }

    img {
        width: 30%;
        min-width: 100px;
        padding: 1rem;
        filter: invert(1);
    }

    p {
        padding: 0 2rem;
    }
}

@media (max-width: 992px) {
    .servicios-article-icono{
        text-align: center;
    }
}

.servicios-article:nth-child(2) {
    flex-direction: row-reverse;
    color: variables.$main-color-alternative;
    background-color: variables.$blanco;

    img {
        filter: invert(0);
    }
}

.servicios-article-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.servicios-article-imagen img {
    min-height: 80%;
    max-width: 80%;
    object-fit: cover;
}